{% extends 'base.html.twig' %}

{% block title %}
    {{ movie.name }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <td>Name</td>
            <td>{{ movie.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ movie.description }}</td>
        </tr>
        <tr>
            <td>Year</td>
            <td>{{ movie.year|date('Y') }}</td>
        </tr>
        <tr>
            <td>Poster</td>
            <td><img src="{{ moviePosterLink }}" alt="Poster du film"/></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
